/**BEGIN GENERAL CLASSES**/
*{
  box-sizing: border-box;
}
.d-flex{
	display:flex;
}
.flex-column{
	flex-direction:column;
}
.flex-row{
	flex-direction:row;
}
/*horizontaal positioneren van children binnen de parent*/
justify-content-start{
	justify-content:flex-start;
}
.justify-content-end{
	justify-content:flex-end;
}
.justify-content-center{
	justify-content:center;
}
.justify-content-between{
  justify-content:space-between;
}
.justify-content-around{
  justify-content:space-around;
}
.flex-wrap{
  flex-wrap:wrap;
}
.flex-nowrap{
  flex-wrap:nowrap;
}
.flex-grow-1{
  flex-grow: 1;
}
/*verticaal centreren van children tov de parent*/
.align-items-center{
	align-items:center;
}

.w-25{
	width:25%;
}
.w-46{
	width:46%;
}
.w-50{
	width:50%;
}
.w-54{
	width:54%;
}
.w-75{
	width:75%;
}
.w-100{
  width:100%;
}
.text-uppercase{
	text-transform:uppercase;
}
.text-lowercase{
	text-transform: lowercase;
}
.text-capitalize{
	text-transform: capitalize;
}

@font-face {
	font-family: Pfd-R;
	src: url('../fonts/PlayfairDisplay-Regular.ttf');
}
@font-face {
	font-family: Ub-L;
	src: url('../fonts/Ubuntu-Light.ttf');
}
/**EINDE GENERAL CLASSES**/

/**BEGIN WEBSITE**/
body{
	font-family:Pfd-R;
}
/**HEADER**/
header,#mainfoto{
	width:1062px;
	margin:0 auto; /**centreren van je content**/
	padding-bottom:45px;
}
#fonttype{
	font-family: 'Inconsolata', monospace;
	font-size:2rem;
	letter-spacing: 2px;
}
header ul li{
	list-style: none;
	border-bottom:3px solid transparent;
}
header ul li:hover{
	border-bottom:3px solid #626262;
}
header ul li a{
	color:#626262;
	text-decoration:none;
}

/**MAIN**/
#photodiary{
	width:900px;
	margin:0 auto;
	padding-top:52px;
	font-family:Pfd-R;
}

h1, .comment, h3{
	color:#b4ad9e;
	font-size:0.9rem;
	font-family: Ub-L;
	letter-spacing: 2px;
}
h2,h4{
	font-size:1.9rem;
	color:#626262;
}
.makeuptext{
	color:#626262;
	line-height:1.8;
}
#photodiary > div > article:nth-child(odd) > div{
	padding-right:20px;
}
#photodiary > div > article:nth-child(even) > div{
	padding-left:20px;
}
/**NIEUWSBRIEF**/

#nieuwsbrief{
	background:#f0f0f0;
	width: 1060px;
	margin: 175px -80px;
	text-align:center;
}
#formmail{
	border-bottom:1px solid #626262;
	color:#626262;
}
#nieuwsbriefbox{
	width:365px;
	margin: 0 auto;
	}

#formmail > input[type=email]{
	border:0px;
	background:#f0f0f0;
}
#formmail > button{
	border:0px;
	background:#f0f0f0;
}

#loadmore{
	margin:235px 0px 1350px 0px;
}
#loadmore button{
	border-radius: 0px;
	border-style: none;
	border: 1px solid black;
	background: white;
}
footer{
	background: #f0f0f0;
	color: #626262;
}
footer a{
	color: #626262;
	text-decoration:none;
}
#terms{
	padding-left:50px;
}
#social > *{
	padding:0px 10px;
}
